@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgb(27, 27, 27), rgb(20, 20, 20));
}

.RName {
  clip-path: polygon(0% 100%, 100% 100%, 100% 10%, 50% 0%, 0% 10%);
}

.nonA_bgImg {
  background-image: url("./assets/Image/B2.jpg");

  /* Other background properties can be added here */
  background-size: cover; /* Optional: Adjust the size of the background image */
  background-repeat: no-repeat;
  transition: transform 1s, font-size 1s; /* Optional: Prevent the background image from repeating */
}
.a_bgImg {
  background-image: url("./assets/Image/B3.jpg");

  /* Other background properties can be added here */
  background-size: cover; /* Optional: Adjust the size of the background image */
  background-repeat: no-repeat;
  transition: transform 1s, font-size 1s; /* Optional: Prevent the background image from repeating */
}
